<svg class="welcome-shape" viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg">
  <polygon
    *ngFor="let item of list"
    [attr.class]="item.aToF"
    [attr.points]="item.spaced0To6"
  ></polygon>
  <style>
    .a {
      fill: rgb(86, 34, 146);
      fill-opacity: 0.69;
    }
    .b {
      fill: rgb(255, 162, 159);
      fill-opacity: 0.53;
    }
    .c {
      fill: rgb(255, 192, 203);
      fill-opacity: 0.66;
    }
    .d {
      fill: rgb(149, 126, 165);
      fill-opacity: 0.5;
    }
    .e {
      fill: rgb(192, 0, 135);
      fill-opacity: 0.33;
    }
    .f {
      fill: rgb(0, 0, 0);
      fill-opacity: 0.16;
    }
  </style>
</svg>
