ion-slides ion-slide {
  min-height: 30vh;
  width: 80vw;
}

.divider-label {
  font-size: small;
  float: left;
}

.after-avatars {
  text-align: center;
}

ion-icon.after-avatars-icon {
  font-size: 64;
}